<div class="login-container">
  <form (ngSubmit)="onSubmit()" #loginForm="ngForm">
    <h2>Login</h2>

    <div class="form-group">
      <label for="email">Email</label>
      <input
        type="email"
        id="email"
        name="email"
        class="form-control"
        [(ngModel)]="loginData.email"
        #email="ngModel"
        required
      />
      <div *ngIf="email.invalid && email.touched" class="error">
        Email is required.
      </div>
    </div>

    <div class="form-group">
      <label for="password">Password</label>
      <input
        type="password"
        id="password"
        name="password"
        class="form-control"
        [(ngModel)]="loginData.password"
        #password="ngModel"
        required
      />
      <div *ngIf="password.invalid && password.touched" class="error">
        Password is required.
      </div>
    </div>

    <button
      type="submit"
      class="btn btn-primary"
      [disabled]="loginForm.invalid"
    >
      Login
    </button>
    <div class="below-link">
      "Don't have an account?"
      <a class="link-below" [routerLink]="'/signup'">Signup</a>
    </div>
  </form>
</div>
